<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
        <title>Your Word Count Results</title>
    </head>
    <body>
        <div class="container">
            {% if word_repeats > 1 %}
                <h3>Your word occured {{ word_repeats }} times.</h3>
            {% elseif word_repeats == 1 %}
                <h3>Congratulations! Your word occured once.</h3>
            {% elseif word_repeats == 0 %}
                <h3>I'm so sorry! Your word did not occur.</h3>
            {% else %}
                <h3>Invalid word or phrase...please <a href="/">try again</a>.</h3>
            {% endif %}

            {% if word_repeats != -1 %}
                <h5>Your word: {{ word }}</h5>
                <h5>Your phrase: {{ phrase }}</h5>
            {% endif %}

            <a href="/"><button type="submit" class="btn btn-success">Play again!</button></a>
        </div>
    </body>
</html>
