<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
        <title>Your Word Count Results</title>
    </head>
    <body>
        <div class="container">
            {% if word_repeats > 1 %}
                <h3>Your word occured {{ word_repeats }} times in the phrase.</h3>
            {% elseif word_repeats == 1 %}
                <h3>Your word occured once in the phrase.</h3>
            {% elseif word_repeats == 0 %}
                <h3>Your word did not occur in the phrase.</h3>
            {% else %}
                <h3>Invalid word or phrase...please <a href="/">try again</a>.</h3>
            {% endif %}
            <a href="/"><button type="submit" class="btn btn-success">Home</button></a>
        </div>
    </body>
</html>
